apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monorepo-prod

resources:
  - ../../base

namePrefix: prod-

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "512Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
    target:
      kind: Deployment
      name: monorepo-api

configMapGenerator:
  - name: monorepo-config
    behavior: merge
    literals:
      - ENVIRONMENT=production
      - LOG_LEVEL=WARNING
