apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monorepo-dev

resources:
  - ../../base

namePrefix: dev-

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: monorepo-api

configMapGenerator:
  - name: monorepo-config
    behavior: merge
    literals:
      - ENVIRONMENT=development
      - LOG_LEVEL=DEBUG
