apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monorepo-staging

resources:
  - ../../base

namePrefix: staging-

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: monorepo-api

configMapGenerator:
  - name: monorepo-config
    behavior: merge
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=INFO
